workflows/PR created.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Extract Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create tesla PR Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create SDK PR Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Others PR Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Key": {
      "main": [
        [
          {
            "node": "validate PR title (TSLA started)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Software": {
      "main": [
        [
          {
            "node": "Set tag on PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create tesla PR Link": {
      "main": [
        [
          {
            "node": "Jira Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SDK PR Link": {
      "main": [
        [
          {
            "node": "Jira Software1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Software1": {
      "main": [
        [
          {
            "node": "Set tag on PR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate PR title (TSLA started)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-17T05:19:50.597Z",
  "id": "9zCrdVoCvmjqHKXN",
  "meta": null,
  "name": "PR created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9cd4f322-5eae-4586-9790-644a87105a4b",
        "options": {}
      },
      "id": "c199f038-bde5-4a4b-bf60-30a6f2c0fb71",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -340,
        640
      ],
      "webhookId": "9cd4f322-5eae-4586-9790-644a87105a4b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ $json.body.resource._links.web.href }}"
            },
            {
              "name": "title",
              "value": "={{ $json.body.resource.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "994af15f-de34-4c3c-a0e3-ec9dc45ee959",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -140,
        640
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.resource.repository.project.name }}",
        "rules": {
          "rules": [
            {
              "value2": "cupix-api",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "tesla"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "0baa89c9-ae0a-47a4-836f-94c07b188372",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract key from title. ex) \"TSLA-1234 new pull request\" -> \"TSLA-1234\"\nvar title = $input.item.json.title;\nvar key = title.split(' ')[0];\n$input.item.json.key = key;\n\nreturn $input.item;"
      },
      "id": "399c1a01-67ea-4aa4-b034-bd156d543e79",
      "name": "Extract Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        40,
        640
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ $('Extract Key').item.json.key }}",
        "simplifyOutput": true,
        "additionalFields": {}
      },
      "id": "7cbe5447-c444-4ff6-a056-d2e6a8aec921",
      "name": "Jira Software",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        820,
        540
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CzvvojOOsDljc4JM",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cupixrnd.atlassian.net/rest/api/3/issue/{{ $json.key }}/remotelink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"object\": {\n        \"url\":\"{{ $json[\"url\"] }}\",\n        \"title\":\"PR {{ $json[\"key\"] }}\"\n    }\n}",
        "options": {}
      },
      "id": "ec32c88b-518f-4a2e-bb78-ea85d81ea1d2",
      "name": "Create tesla PR Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        540
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CzvvojOOsDljc4JM",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cupixrnd.atlassian.net/rest/api/3/issue/{{ $json.key }}/remotelink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"object\": {\n        \"url\":\"{{ $json[\"url\"] }}\",\n        \"title\":\"SDK PR {{ $json[\"key\"] }}\"\n    }\n}",
        "options": {}
      },
      "id": "1f75a85a-4a72-4e1e-aa47-7b7447d08ed3",
      "name": "Create SDK PR Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        760
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CzvvojOOsDljc4JM",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.azure.com/cupix/{{ $('Extract Key').item.json.body.resource.repository.project.name }}/_apis/git/repositories/{{ $('Extract Key').item.json.body.resource.repository.id }}/pullRequests/{{ $('Extract Key').item.json.body.resource.pullRequestId }}/labels?api-version=6.1-preview.1 ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json['Fix versions'][0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d9a004c-8578-483f-85b9-3d6f55cf1987",
      "name": "Set tag on PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FgYMCSTWNyqnQMSa",
          "name": "Azure Devops"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ $('Extract Key').item.json.key }}",
        "simplifyOutput": true,
        "additionalFields": {}
      },
      "id": "de4f93c9-f338-48fd-9db3-306c238aeaa4",
      "name": "Jira Software1",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        820,
        760
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CzvvojOOsDljc4JM",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.azure.com/cupix/{{ $('Extract Key').item.json.body.resource.repository.project.name }}/_apis/git/repositories/{{ $('Extract Key').item.json.body.resource.repository.id }}/pullRequests/{{ $('Extract Key').item.json.body.resource.pullRequestId }}/labels?api-version=6.1-preview.1 ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json['Fix versions'][0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "64cb6663-4562-4710-84cd-381bc1278dd9",
      "name": "Set tag on PR1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FgYMCSTWNyqnQMSa",
          "name": "Azure Devops"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cupixrnd.atlassian.net/rest/api/3/issue/{{ $json.key }}/remotelink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"object\": {\n        \"url\":\"{{ $json[\"url\"] }}\",\n        \"title\":\"{{ $json.body.resource.repository.name }} PR {{ $json[\"key\"] }}\"\n    }\n} ",
        "options": {}
      },
      "id": "bff0f7e3-c8e2-4ab1-a18f-946d544f4305",
      "name": "Create Others PR Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        980
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "CzvvojOOsDljc4JM",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5bcd124f-1b4c-4f04-b902-13e980ce778e",
              "leftValue": "={{ $json.key }}",
              "rightValue": "TSLA",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9ffd56b-fa5f-48b0-b860-054e8aa89cfc",
      "name": "validate PR title (TSLA started)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        800
      ]
    }
  ],
  "pinData": {
    "Extract Key": [
      {
        "json": {
          "headers": {
            "x-vss-activityid": "ed33bab7-b0c7-0000-c85d-8b9d79aed901",
            "x-vss-subscriptionid": "e652f7ca-34df-49bb-9790-8a698b41c754",
            "user-agent": "VSServices/19.223.33826.1 (w3wp.exe)",
            "content-type": "application/json; charset=utf-8",
            "host": "150.230.249.206:5678",
            "request-context": "appId=cid-v1:e1fea76c-829b-40b5-a0ec-38a286d5e2c0",
            "request-id": "|f0b706eb48ef92408984a72cbf4bffb9.4da3914ee5c3e842.",
            "traceparent": "00-f0b706eb48ef92408984a72cbf4bffb9-4da3914ee5c3e842-00",
            "content-length": "7014",
            "expect": "100-continue",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "subscriptionId": "e652f7ca-34df-49bb-9790-8a698b41c754",
            "notificationId": 125,
            "id": "ac29098b-64a2-4cd4-a5c5-dbab3bd00562",
            "eventType": "git.pullrequest.created",
            "publisherId": "tfs",
            "message": {
              "text": "dominik.oh created pull request 45803 (TSLA-5214 Editing 의 states 조건 검색 시 skipped 가 포함되는 현상) in tesla\r\nhttps://cupix.visualstudio.com/tesla/_git/tesla/",
              "html": "dominik.oh created <a href=\"https://cupix.visualstudio.com/tesla/_git/tesla/pullrequest/45803\">pull request 45803</a> (TSLA-5214 Editing 의 states 조건 검색 시 skipped 가 포함되는 현상) in <a href=\"https://cupix.visualstudio.com/tesla/_git/tesla/\">tesla</a>",
              "markdown": "dominik.oh created [pull request 45803](https://cupix.visualstudio.com/tesla/_git/tesla/pullrequest/45803) (TSLA-5214 Editing 의 states 조건 검색 시 skipped 가 포함되는 현상) in [tesla](https://cupix.visualstudio.com/tesla/_git/tesla/)"
            },
            "detailedMessage": {
              "text": "dominik.oh created pull request 45803 (TSLA-5214 Editing 의 states 조건 검색 시 skipped 가 포함되는 현상) in tesla\r\nhttps://cupix.visualstudio.com/tesla/_git/tesla/\r\n# Changes\r\n\r\n- state를 `skipped`로 설정하는것을 factory에서 설정하도록 변경\r\n\r\n- 관련 테스트 코드 작성\r\n",
              "html": "dominik.oh created <a href=\"https://cupix.visualstudio.com/tesla/_git/tesla/pullrequest/45803\">pull request 45803</a> (TSLA-5214 Editing 의 states 조건 검색 시 skipped 가 포함되는 현상) in <a href=\"https://cupix.visualstudio.com/tesla/_git/tesla/\">tesla</a><p># Changes</p><p>- state를 `skipped`로 설정하는것을 factory에서 설정하도록 변경</p><p>- 관련 테스트 코드 작성</p>",
              "markdown": "dominik.oh created [pull request 45803](https://cupix.visualstudio.com/tesla/_git/tesla/pullrequest/45803) (TSLA-5214 Editing 의 states 조건 검색 시 skipped 가 포함되는 현상) in [tesla](https://cupix.visualstudio.com/tesla/_git/tesla/)\r\n# Changes\r\n\r\n- state를 `skipped`로 설정하는것을 factory에서 설정하도록 변경\r\n\r\n- 관련 테스트 코드 작성\r\n"
            },
            "resource": {
              "repository": {
                "id": "f9d73962-2f27-440f-a713-1bcbbfc6c02a",
                "name": "tesla",
                "url": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a",
                "project": {
                  "id": "982b1733-e76d-4671-89fe-d5a02bd6c237",
                  "name": "tesla",
                  "url": "https://cupix.visualstudio.com/_apis/projects/982b1733-e76d-4671-89fe-d5a02bd6c237",
                  "state": "wellFormed",
                  "revision": 767,
                  "visibility": "private",
                  "lastUpdateTime": "2022-11-07T03:36:26.6Z"
                },
                "size": 213644102,
                "remoteUrl": "https://cupix.visualstudio.com/DefaultCollection/tesla/_git/tesla",
                "sshUrl": "cupix@vs-ssh.visualstudio.com:v3/cupix/tesla/tesla",
                "webUrl": "https://cupix.visualstudio.com/DefaultCollection/tesla/_git/tesla",
                "isDisabled": false,
                "isInMaintenance": false
              },
              "pullRequestId": 45803,
              "codeReviewId": 45803,
              "status": "active",
              "createdBy": {
                "displayName": "dominik.oh",
                "url": "https://spsprodeus23.vssps.visualstudio.com/Aafc8ff22-1cd9-4ef0-a4fc-18f454d5ea76/_apis/Identities/2840d5e1-e3c5-4de2-8b3c-140cd7a215a7",
                "_links": {
                  "avatar": {
                    "href": "https://cupix.visualstudio.com/_apis/GraphProfile/MemberAvatars/aad.OTA3OWRlYTMtYzRhMC03MDBmLTllNjgtNzJmYzU2ZWUwMWUw"
                  }
                },
                "id": "2840d5e1-e3c5-4de2-8b3c-140cd7a215a7",
                "uniqueName": "dominik.oh@cupix.com",
                "imageUrl": "https://cupix.visualstudio.com/_api/_common/identityImage?id=2840d5e1-e3c5-4de2-8b3c-140cd7a215a7",
                "descriptor": "aad.OTA3OWRlYTMtYzRhMC03MDBmLTllNjgtNzJmYzU2ZWUwMWUw"
              },
              "creationDate": "2023-07-13T03:58:08.1036446Z",
              "title": "TSLA-6592 n8n automation",
              "description": "# Changes\n- state를 `skipped`로 설정하는것을 factory에서 설정하도록 변경\n- 관련 테스트 코드 작성",
              "sourceRefName": "refs/heads/feature/TSLA-6592",
              "targetRefName": "refs/heads/develop",
              "mergeStatus": "succeeded",
              "isDraft": false,
              "mergeId": "1b30d54e-f0cb-4e8d-9c91-b74a5d46fcc9",
              "lastMergeSourceCommit": {
                "commitId": "6e24dc73c759c568a9d333f51b73e14ba25ee933",
                "url": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a/commits/6e24dc73c759c568a9d333f51b73e14ba25ee933"
              },
              "lastMergeTargetCommit": {
                "commitId": "fdaef498fb39b04d046bac36df1517813694d8bf",
                "url": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a/commits/fdaef498fb39b04d046bac36df1517813694d8bf"
              },
              "lastMergeCommit": {
                "commitId": "8a7a7657b4c7f860882342c605fbd701abd3fb6e",
                "author": {
                  "name": "dominik.oh",
                  "email": "dominik.oh@cupix.com",
                  "date": "2023-07-13T03:58:08Z"
                },
                "committer": {
                  "name": "dominik.oh",
                  "email": "dominik.oh@cupix.com",
                  "date": "2023-07-13T03:58:08Z"
                },
                "comment": "Merge pull request 45803 from feature/TSLA-6592 into develop",
                "url": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a/commits/8a7a7657b4c7f860882342c605fbd701abd3fb6e"
              },
              "reviewers": [
                {
                  "reviewerUrl": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a/pullRequests/45803/reviewers/82f97e67-d12d-4b7a-8286-71848174bbbd",
                  "vote": 0,
                  "hasDeclined": false,
                  "isRequired": true,
                  "isFlagged": false,
                  "displayName": "[tesla]\\Tesla Required Reviewers",
                  "url": "https://spsprodeus23.vssps.visualstudio.com/Aafc8ff22-1cd9-4ef0-a4fc-18f454d5ea76/_apis/Identities/82f97e67-d12d-4b7a-8286-71848174bbbd",
                  "_links": {
                    "avatar": {
                      "href": "https://cupix.visualstudio.com/_apis/GraphProfile/MemberAvatars/vssgp.Uy0xLTktMTU1MTM3NDI0NS04NTcxNTY1MDQtMTg0Mzg4NDM1OC0yMzE1MTc5NDI0LTczNTQ5NDcxMS0xLTgxNjc4OTg4Ny04ODAxNTg1MzUtMjg3MTY4ODY1OC0zMjE4Mjk3MDkx"
                    }
                  },
                  "id": "82f97e67-d12d-4b7a-8286-71848174bbbd",
                  "uniqueName": "vstfs:///Classification/TeamProject/982b1733-e76d-4671-89fe-d5a02bd6c237\\Tesla Required Reviewers",
                  "imageUrl": "https://cupix.visualstudio.com/_api/_common/identityImage?id=82f97e67-d12d-4b7a-8286-71848174bbbd",
                  "isContainer": true
                }
              ],
              "url": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a/pullRequests/45803",
              "_links": {
                "web": {
                  "href": "https://cupix.visualstudio.com/tesla/_git/tesla/pullrequest/45803"
                },
                "statuses": {
                  "href": "https://cupix.visualstudio.com/982b1733-e76d-4671-89fe-d5a02bd6c237/_apis/git/repositories/f9d73962-2f27-440f-a713-1bcbbfc6c02a/pullRequests/45803/statuses"
                }
              },
              "supportsIterations": true,
              "artifactId": "vstfs:///Git/PullRequestId/982b1733-e76d-4671-89fe-d5a02bd6c237%2ff9d73962-2f27-440f-a713-1bcbbfc6c02a%2f45803"
            },
            "resourceVersion": "1.0",
            "resourceContainers": {
              "collection": {
                "id": "0c317d4e-04b1-4bc2-b253-6c40eff77b33",
                "baseUrl": "https://cupix.visualstudio.com/"
              },
              "account": {
                "id": "afc8ff22-1cd9-4ef0-a4fc-18f454d5ea76",
                "baseUrl": "https://cupix.visualstudio.com/"
              },
              "project": {
                "id": "982b1733-e76d-4671-89fe-d5a02bd6c237",
                "baseUrl": "https://cupix.visualstudio.com/"
              }
            },
            "createdDate": "2023-07-13T03:58:14.8741379Z"
          },
          "url": "https://cupix.visualstudio.com/tesla/_git/tesla/pullrequest/45803",
          "title": "TSLA-6592 n8n automation",
          "key": "TSLA-6592"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-vss-activityid": "1e7e8f41-0b45-0001-9027-019e79aed901",
            "x-vss-subscriptionid": "cdee6088-7935-42cf-a973-785a1015fd4b",
            "user-agent": "VSServices/19.223.33826.1 (w3wp.exe)",
            "content-type": "application/json; charset=utf-8",
            "host": "150.230.249.206:5678",
            "request-context": "appId=cid-v1:e1fea76c-829b-40b5-a0ec-38a286d5e2c0",
            "request-id": "|05efc1d80a856549b4ebe92bf943c131.fd6e0b9618ac8a45.",
            "traceparent": "00-05efc1d80a856549b4ebe92bf943c131-fd6e0b9618ac8a45-00",
            "content-length": "6703",
            "expect": "100-continue",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "subscriptionId": "cdee6088-7935-42cf-a973-785a1015fd4b",
            "notificationId": 29,
            "id": "939649fc-1469-436d-96cd-19b3a4ac0f2a",
            "eventType": "git.pullrequest.created",
            "publisherId": "tfs",
            "message": {
              "text": "dominik.oh created pull request 45837 (TSLA-5804 error code가 있는 editing은 배정하지 않는다) in cupix-api\r\nhttps://cupix.visualstudio.com/cupix-api/_git/cupix-api/",
              "html": "dominik.oh created <a href=\"https://cupix.visualstudio.com/cupix-api/_git/cupix-api/pullrequest/45837\">pull request 45837</a> (TSLA-5804 error code가 있는 editing은 배정하지 않는다) in <a href=\"https://cupix.visualstudio.com/cupix-api/_git/cupix-api/\">cupix-api</a>",
              "markdown": "dominik.oh created [pull request 45837](https://cupix.visualstudio.com/cupix-api/_git/cupix-api/pullrequest/45837) (TSLA-5804 error code가 있는 editing은 배정하지 않는다) in [cupix-api](https://cupix.visualstudio.com/cupix-api/_git/cupix-api/)"
            },
            "detailedMessage": {
              "text": "dominik.oh created pull request 45837 (TSLA-5804 error code가 있는 editing은 배정하지 않는다) in cupix-api\r\nhttps://cupix.visualstudio.com/cupix-api/_git/cupix-api/\r\n# Changes\r\n\r\n- editing entity `state` 에 빠진 상태 추가\r\n\r\n  - holding\r\n\r\n  - error\r\n",
              "html": "dominik.oh created <a href=\"https://cupix.visualstudio.com/cupix-api/_git/cupix-api/pullrequest/45837\">pull request 45837</a> (TSLA-5804 error code가 있는 editing은 배정하지 않는다) in <a href=\"https://cupix.visualstudio.com/cupix-api/_git/cupix-api/\">cupix-api</a><p># Changes</p><p>- editing entity `state` 에 빠진 상태 추가</p><p>  - holding</p><p>  - error</p>",
              "markdown": "dominik.oh created [pull request 45837](https://cupix.visualstudio.com/cupix-api/_git/cupix-api/pullrequest/45837) (TSLA-5804 error code가 있는 editing은 배정하지 않는다) in [cupix-api](https://cupix.visualstudio.com/cupix-api/_git/cupix-api/)\r\n# Changes\r\n\r\n- editing entity `state` 에 빠진 상태 추가\r\n\r\n  - holding\r\n\r\n  - error\r\n"
            },
            "resource": {
              "repository": {
                "id": "cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0",
                "name": "cupix-api",
                "url": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0",
                "project": {
                  "id": "c45e20cf-ce45-493f-9bc4-9268a893363d",
                  "name": "cupix-api",
                  "url": "https://cupix.visualstudio.com/_apis/projects/c45e20cf-ce45-493f-9bc4-9268a893363d",
                  "state": "wellFormed",
                  "revision": 766,
                  "visibility": "private",
                  "lastUpdateTime": "2022-11-07T03:31:46.037Z"
                },
                "size": 247400103,
                "remoteUrl": "https://cupix.visualstudio.com/DefaultCollection/cupix-api/_git/cupix-api",
                "sshUrl": "cupix@vs-ssh.visualstudio.com:v3/cupix/cupix-api/cupix-api",
                "webUrl": "https://cupix.visualstudio.com/DefaultCollection/cupix-api/_git/cupix-api",
                "isDisabled": false,
                "isInMaintenance": false
              },
              "pullRequestId": 45837,
              "codeReviewId": 45837,
              "status": "active",
              "createdBy": {
                "displayName": "dominik.oh",
                "url": "https://spsprodeus23.vssps.visualstudio.com/Aafc8ff22-1cd9-4ef0-a4fc-18f454d5ea76/_apis/Identities/2840d5e1-e3c5-4de2-8b3c-140cd7a215a7",
                "_links": {
                  "avatar": {
                    "href": "https://cupix.visualstudio.com/_apis/GraphProfile/MemberAvatars/aad.OTA3OWRlYTMtYzRhMC03MDBmLTllNjgtNzJmYzU2ZWUwMWUw"
                  }
                },
                "id": "2840d5e1-e3c5-4de2-8b3c-140cd7a215a7",
                "uniqueName": "dominik.oh@cupix.com",
                "imageUrl": "https://cupix.visualstudio.com/_api/_common/identityImage?id=2840d5e1-e3c5-4de2-8b3c-140cd7a215a7",
                "descriptor": "aad.OTA3OWRlYTMtYzRhMC03MDBmLTllNjgtNzJmYzU2ZWUwMWUw"
              },
              "creationDate": "2023-07-13T08:44:16.879396Z",
              "title": "TSLA-6592 [n8n] Automation test 용",
              "description": "# Changes\n- editing entity `state` 에 빠진 상태 추가\n  - holding\n  - error",
              "sourceRefName": "refs/heads/feature/TSLA-6592",
              "targetRefName": "refs/heads/develop",
              "mergeStatus": "succeeded",
              "isDraft": false,
              "mergeId": "fca6e846-9612-4c42-a8e0-1199f40ad32c",
              "lastMergeSourceCommit": {
                "commitId": "775e1620f0593c238c53b16e780c44d4226e54ee",
                "url": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0/commits/775e1620f0593c238c53b16e780c44d4226e54ee"
              },
              "lastMergeTargetCommit": {
                "commitId": "cedf5b7ea69b6a3076bea8837db8b58c84181557",
                "url": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0/commits/cedf5b7ea69b6a3076bea8837db8b58c84181557"
              },
              "lastMergeCommit": {
                "commitId": "7eaeb0db35f50d5271d9fdfce6e2d03a4a25fe44",
                "author": {
                  "name": "dominik.oh",
                  "email": "dominik.oh@cupix.com",
                  "date": "2023-07-13T08:44:17Z"
                },
                "committer": {
                  "name": "dominik.oh",
                  "email": "dominik.oh@cupix.com",
                  "date": "2023-07-13T08:44:17Z"
                },
                "comment": "Merge pull request 45837 from feature/TSLA-5804 into develop",
                "url": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0/commits/7eaeb0db35f50d5271d9fdfce6e2d03a4a25fe44"
              },
              "reviewers": [
                {
                  "reviewerUrl": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0/pullRequests/45837/reviewers/8e7d446e-b062-4a90-916e-7679a0f219d3",
                  "vote": 0,
                  "hasDeclined": false,
                  "isRequired": true,
                  "isFlagged": false,
                  "displayName": "noel.lee",
                  "url": "https://spsprodeus23.vssps.visualstudio.com/Aafc8ff22-1cd9-4ef0-a4fc-18f454d5ea76/_apis/Identities/8e7d446e-b062-4a90-916e-7679a0f219d3",
                  "_links": {
                    "avatar": {
                      "href": "https://cupix.visualstudio.com/_apis/GraphProfile/MemberAvatars/aad.YTUzMThiNDAtZWI0Ny03OTY4LTk4ZjAtZGNjYTUxYjhkZjhi"
                    }
                  },
                  "id": "8e7d446e-b062-4a90-916e-7679a0f219d3",
                  "uniqueName": "noel.lee@cupix.com",
                  "imageUrl": "https://cupix.visualstudio.com/_api/_common/identityImage?id=8e7d446e-b062-4a90-916e-7679a0f219d3"
                }
              ],
              "url": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0/pullRequests/45837",
              "_links": {
                "web": {
                  "href": "https://cupix.visualstudio.com/cupix-api/_git/cupix-api/pullrequest/45837"
                },
                "statuses": {
                  "href": "https://cupix.visualstudio.com/c45e20cf-ce45-493f-9bc4-9268a893363d/_apis/git/repositories/cdc672ff-09f3-4cb8-9bc8-63b9206c0ca0/pullRequests/45837/statuses"
                }
              },
              "supportsIterations": true,
              "artifactId": "vstfs:///Git/PullRequestId/c45e20cf-ce45-493f-9bc4-9268a893363d%2fcdc672ff-09f3-4cb8-9bc8-63b9206c0ca0%2f45837"
            },
            "resourceVersion": "1.0",
            "resourceContainers": {
              "collection": {
                "id": "0c317d4e-04b1-4bc2-b253-6c40eff77b33",
                "baseUrl": "https://cupix.visualstudio.com/"
              },
              "account": {
                "id": "afc8ff22-1cd9-4ef0-a4fc-18f454d5ea76",
                "baseUrl": "https://cupix.visualstudio.com/"
              },
              "project": {
                "id": "c45e20cf-ce45-493f-9bc4-9268a893363d",
                "baseUrl": "https://cupix.visualstudio.com/"
              }
            },
            "createdDate": "2023-07-13T08:44:23.1885087Z"
          }
        }
      }
    ],
    "Jira Software": [
      {
        "json": {
          "id": "54795",
          "key": "TSLA-6592",
          "self": "https://cupixrnd.atlassian.net/rest/api/2/issue/54795",
          "Σ Progress": {
            "progress": 144000,
            "total": 144000,
            "percent": 100
          },
          "Σ Remaining Estimate": 0,
          "Σ Original Estimate": null,
          "Σ Time Spent": 144000,
          "Assignee": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/user?accountId=63f2fb05fb3ac4003fa1b66b",
            "accountId": "63f2fb05fb3ac4003fa1b66b",
            "emailAddress": "dominik.oh@cupix.com",
            "avatarUrls": {
              "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/48",
              "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/24",
              "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/16",
              "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/32"
            },
            "displayName": "Dominik Oh",
            "active": true,
            "timeZone": "America/Chicago",
            "accountType": "atlassian"
          },
          "Attachment": [],
          "Comment": {
            "comments": [],
            "self": "https://cupixrnd.atlassian.net/rest/api/2/issue/54795/comment",
            "maxResults": 0,
            "total": 0,
            "startAt": 0
          },
          "Components": [],
          "Created": "2024-01-16T23:16:49.353-0600",
          "Creator": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/user?accountId=63f2fb05fb3ac4003fa1b66b",
            "accountId": "63f2fb05fb3ac4003fa1b66b",
            "emailAddress": "dominik.oh@cupix.com",
            "avatarUrls": {
              "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/48",
              "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/24",
              "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/16",
              "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/32"
            },
            "displayName": "Dominik Oh",
            "active": true,
            "timeZone": "America/Chicago",
            "accountType": "atlassian"
          },
          "Description": "n8n 테스트용 이슈입니다",
          "Due date": null,
          "Environment": null,
          "Fix versions": [],
          "Linked Issues": [],
          "Restrict to": {
            "issuerestrictions": {},
            "shouldDisplay": false
          },
          "Issue Type": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/issuetype/10002",
            "id": "10002",
            "description": "A task that needs to be done.",
            "iconUrl": "https://cupixrnd.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium",
            "name": "Task",
            "subtask": false,
            "avatarId": 10318,
            "hierarchyLevel": 0
          },
          "Labels": [],
          "Last Viewed": "2024-01-22T21:24:19.299-0600",
          "Parent": {
            "id": "54774",
            "key": "TSLA-6582",
            "self": "https://cupixrnd.atlassian.net/rest/api/2/issue/54774",
            "fields": {
              "summary": "n8n automation",
              "status": {
                "self": "https://cupixrnd.atlassian.net/rest/api/2/status/10000",
                "description": "",
                "iconUrl": "https://cupixrnd.atlassian.net/",
                "name": "TODO",
                "id": "10000",
                "statusCategory": {
                  "self": "https://cupixrnd.atlassian.net/rest/api/2/statuscategory/2",
                  "id": 2,
                  "key": "new",
                  "colorName": "blue-gray",
                  "name": "To Do"
                }
              },
              "priority": {
                "self": "https://cupixrnd.atlassian.net/rest/api/2/priority/3",
                "iconUrl": "https://cupixrnd.atlassian.net/images/icons/priorities/medium.svg",
                "name": "Medium",
                "id": "3"
              },
              "issuetype": {
                "self": "https://cupixrnd.atlassian.net/rest/api/2/issuetype/10000",
                "id": "10000",
                "description": "A big user story that needs to be broken down. Created by JIRA Software - do not edit or delete.",
                "iconUrl": "https://cupixrnd.atlassian.net/images/icons/issuetypes/epic.svg",
                "name": "Epic",
                "subtask": false,
                "hierarchyLevel": 1
              }
            }
          },
          "Priority": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/priority/3",
            "iconUrl": "https://cupixrnd.atlassian.net/images/icons/priorities/medium.svg",
            "name": "Medium",
            "id": "3"
          },
          "Progress": {
            "progress": 144000,
            "total": 144000,
            "percent": 100
          },
          "Project": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/project/10114",
            "id": "10114",
            "key": "TSLA",
            "name": "Tesla",
            "projectTypeKey": "software",
            "simplified": false,
            "avatarUrls": {
              "48x48": "https://cupixrnd.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10501",
              "24x24": "https://cupixrnd.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10501?size=small",
              "16x16": "https://cupixrnd.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10501?size=xsmall",
              "32x32": "https://cupixrnd.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10501?size=medium"
            }
          },
          "Reporter": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/user?accountId=63f2fb05fb3ac4003fa1b66b",
            "accountId": "63f2fb05fb3ac4003fa1b66b",
            "emailAddress": "dominik.oh@cupix.com",
            "avatarUrls": {
              "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/48",
              "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/24",
              "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/16",
              "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/32"
            },
            "displayName": "Dominik Oh",
            "active": true,
            "timeZone": "America/Chicago",
            "accountType": "atlassian"
          },
          "Resolution": null,
          "Resolved": null,
          "Security Level": null,
          "Status": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/status/10000",
            "description": "",
            "iconUrl": "https://cupixrnd.atlassian.net/",
            "name": "TODO",
            "id": "10000",
            "statusCategory": {
              "self": "https://cupixrnd.atlassian.net/rest/api/2/statuscategory/2",
              "id": 2,
              "key": "new",
              "colorName": "blue-gray",
              "name": "To Do"
            }
          },
          "Status Category Changed": "2024-01-16T23:16:49.807-0600",
          "Sub-tasks": [],
          "Summary": "[n8n] Automation test 용",
          "Remaining Estimate": 0,
          "Original estimate": null,
          "Time Spent": 144000,
          "Time tracking": {
            "remainingEstimate": "0m",
            "timeSpent": "1w",
            "remainingEstimateSeconds": 0,
            "timeSpentSeconds": 144000
          },
          "Updated": "2024-01-22T21:23:46.901-0600",
          "Affects versions": [],
          "Votes": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/issue/TSLA-6592/votes",
            "votes": 0,
            "hasVoted": false
          },
          "Watchers": {
            "self": "https://cupixrnd.atlassian.net/rest/api/2/issue/TSLA-6592/watchers",
            "watchCount": 1,
            "isWatching": true
          },
          "Log Work": {
            "startAt": 0,
            "maxResults": 20,
            "total": 1,
            "worklogs": [
              {
                "self": "https://cupixrnd.atlassian.net/rest/api/2/issue/54795/worklog/10125",
                "author": {
                  "self": "https://cupixrnd.atlassian.net/rest/api/2/user?accountId=63f2fb05fb3ac4003fa1b66b",
                  "accountId": "63f2fb05fb3ac4003fa1b66b",
                  "emailAddress": "dominik.oh@cupix.com",
                  "avatarUrls": {
                    "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/48",
                    "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/24",
                    "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/16",
                    "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/32"
                  },
                  "displayName": "Dominik Oh",
                  "active": true,
                  "timeZone": "America/Chicago",
                  "accountType": "atlassian"
                },
                "updateAuthor": {
                  "self": "https://cupixrnd.atlassian.net/rest/api/2/user?accountId=63f2fb05fb3ac4003fa1b66b",
                  "accountId": "63f2fb05fb3ac4003fa1b66b",
                  "emailAddress": "dominik.oh@cupix.com",
                  "avatarUrls": {
                    "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/48",
                    "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/24",
                    "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/16",
                    "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63f2fb05fb3ac4003fa1b66b/4cc1744e-9184-4e1e-957e-c16411d62767/32"
                  },
                  "displayName": "Dominik Oh",
                  "active": true,
                  "timeZone": "America/Chicago",
                  "accountType": "atlassian"
                },
                "created": "2024-01-22T21:19:17.904-0600",
                "updated": "2024-01-22T21:19:17.904-0600",
                "started": "2024-01-21T05:19:10.027-0600",
                "timeSpent": "1w",
                "timeSpentSeconds": 144000,
                "id": "10125",
                "issueId": "54795"
              }
            ]
          },
          "Work Ratio": -1,
          "Team": null,
          "Organizations": null,
          "Epic Link": "TSLA-6582",
          "Parent Link": {
            "hasEpicLinkFieldDependency": false,
            "showField": false,
            "nonEditableReason": {
              "reason": "PLUGIN_LICENSE_ERROR",
              "message": "The Parent Link is only available to Jira Premium users."
            }
          },
          "Sprint": null,
          "Rank": "0|i0651w:",
          "[CHART] Date of First Response": null,
          "[CHART] Time in Status": null,
          "Freshdesk Tickets": null,
          "Story Points": 0,
          "Flagged": null,
          "Start date": null,
          "Request Type": null,
          "Request participants": [],
          "Story point estimate": null,
          "Tour Link": null,
          "Issue color": null,
          "Satisfaction": null,
          "Target start": null,
          "Target end": null,
          "Slack Link": null,
          "CW Reporter": null,
          "Slack TS": null,
          "CW board": null,
          "QA tracking": null,
          "TC link": null,
          "TC id": null,
          "Test Cases": null,
          "Approvals": null,
          "Satisfaction date": null,
          "Approvers": null,
          "Affected services": null,
          "Time to resolution": null,
          "Time to first response": null,
          "Request language": null,
          "Slack TS2": null,
          "정보보호코드": null,
          "정보보호 점검항목": null,
          "Urgency": null,
          "Impact": null,
          "Pending reason": null,
          "Product categorization": null,
          "Operational categorization": null,
          "Affected hardware": null,
          "Severity": null,
          "Source": null,
          "Change type": null,
          "Change risk": null,
          "Change reason": null,
          "Implementation plan": null,
          "Backout plan": null,
          "Test plan": null,
          "Planned start": null,
          "Planned end": null,
          "Actual start": null,
          "Actual end": null,
          "Investigation reason": null,
          "Root cause": null,
          "Workaround": null,
          "Time to close after resolution": null,
          "Time to review normal change": null,
          "Responders": [],
          "Work category": null,
          "Approver groups": null,
          "Major incident": null,
          "QA Description": null,
          "QA Assignee": null,
          "Expected Stage Release": null,
          "Open forms": null,
          "Submitted forms": null,
          "Locked forms": null,
          "Total forms": null,
          "Category": null,
          "Atlas project key": null,
          "Atlas project status": null,
          "QA Note": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-24T01:27:45.000Z",
  "versionId": "9cb53f50-1c94-4680-8e4a-a0b6873a63f1"
}