workflows/PR created.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-18T05:50:33.813Z",
  "id": "2",
  "name": "PR created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9cd4f322-5eae-4586-9790-644a87105a4b",
        "options": {}
      },
      "id": "151c586d-6ef0-4dec-8b06-28cc71c11652",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1280,
        640
      ],
      "webhookId": "9cd4f322-5eae-4586-9790-644a87105a4b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ $json.body.resource.url }}"
            },
            {
              "name": "title",
              "value": "={{ $json.body.resource.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1faabe3c-bcf4-4821-8c68-3f8fe323cc9b",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1480,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract key from title. ex) \"TSLA-1234 new pull request\" -> \"TSLA-1234\"\nvar title = $input.item.json.title;\nvar key = title.split(' ')[0];\n$input.item.json.key = key;\n\nreturn $input.item;"
      },
      "id": "642e3416-baf1-4b70-9109-396bf114db21",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1660,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cupixrnd.atlassian.net/rest/api/3/issue/{{ $json.key }}/remotelink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"object\": {\n        \"url\":\"{{ $json[\"url\"] }}\",\n        \"title\":\"PR {{ $json[\"key\"] }}\"\n    }\n}",
        "options": {}
      },
      "id": "51f94599-41fe-43b5-ab73-a859e11f3194",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        540
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "1",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.url }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "tesla"
            },
            {
              "operation": "contains",
              "value2": "cupix-api",
              "output": 1
            }
          ]
        }
      },
      "id": "e1a3da41-81ae-4207-b035-32841e94bdfc",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1840,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cupixrnd.atlassian.net/rest/api/3/issue/{{ $json.key }}/remotelink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"object\": {\n        \"url\":\"{{ $json[\"url\"] }}\",\n        \"title\":\"SDK PR {{ $json[\"key\"] }}\"\n    }\n}",
        "options": {}
      },
      "id": "30f3d54f-2f64-4604-8810-61cb2180c613",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        760
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "1",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-vss-activityid": "13d3f92a-5c35-0002-aa06-ea6e969ed901",
            "x-vss-subscriptionid": "00000000-0000-0000-0000-000000000000",
            "user-agent": "VSServices/19.222.33724.7 (w3wp.exe)",
            "content-type": "application/json; charset=utf-8",
            "host": "150.230.249.206:5678",
            "request-context": "appId=cid-v1:e1fea76c-829b-40b5-a0ec-38a286d5e2c0",
            "request-id": "|ddc12fe53f07fa4f841e18091c0d4d55.6ca9b529b8ad1740.",
            "traceparent": "00-ddc12fe53f07fa4f841e18091c0d4d55-6ca9b529b8ad1740-00",
            "content-length": "4630",
            "expect": "100-continue",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "notificationId": 36,
            "id": "2ab4e3d3-b7a6-425e-92b1-5a9982c1269e",
            "eventType": "git.pullrequest.created",
            "publisherId": "tfs",
            "message": {
              "text": "Jamal Hartnett created a new pull request",
              "html": "Jamal Hartnett created a new pull request",
              "markdown": "Jamal Hartnett created a new pull request"
            },
            "detailedMessage": {
              "text": "Jamal Hartnett created a new pull request\r\n\r\n- Merge status: Succeeded\r\n- Merge commit: eef717(https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/eef717f69257a6333f221566c1c987dc94cc0d72)\r\n",
              "html": "Jamal Hartnett created a new pull request\r\n<ul>\r\n<li>Merge status: Succeeded</li>\r\n<li>Merge commit: <a href=\"https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/eef717f69257a6333f221566c1c987dc94cc0d72\">eef717</a></li>\r\n</ul>",
              "markdown": "Jamal Hartnett created a new pull request\r\n\r\n+ Merge status: Succeeded\r\n+ Merge commit: [eef717](https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/eef717f69257a6333f221566c1c987dc94cc0d72)\r\n"
            },
            "resource": {
              "repository": {
                "id": "4bc14d40-c903-45e2-872e-0462c7748079",
                "name": "Fabrikam",
                "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079",
                "project": {
                  "id": "6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c",
                  "name": "Fabrikam",
                  "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/projects/6ce954b1-ce1f-45d1-b94d-e6bf2464ba2c",
                  "state": "wellFormed",
                  "visibility": "unchanged",
                  "lastUpdateTime": "0001-01-01T00:00:00"
                },
                "defaultBranch": "refs/heads/master",
                "remoteUrl": "https://fabrikam.visualstudio.com/DefaultCollection/_git/Fabrikam"
              },
              "pullRequestId": 1,
              "status": "active",
              "createdBy": {
                "displayName": "Jamal Hartnett",
                "url": "https://fabrikam.vssps.visualstudio.com/_apis/Identities/54d125f7-69f7-4191-904f-c5b96b6261c8",
                "id": "54d125f7-69f7-4191-904f-c5b96b6261c8",
                "uniqueName": "fabrikamfiber4@hotmail.com",
                "imageUrl": "https://fabrikam.visualstudio.com/DefaultCollection/_api/_common/identityImage?id=54d125f7-69f7-4191-904f-c5b96b6261c8"
              },
              "creationDate": "2014-06-17T16:55:46.589889Z",
              "title": "my first pull request",
              "description": " - test2\r\n",
              "sourceRefName": "refs/heads/mytopic",
              "targetRefName": "refs/heads/master",
              "mergeStatus": "succeeded",
              "mergeId": "a10bb228-6ba6-4362-abd7-49ea21333dbd",
              "lastMergeSourceCommit": {
                "commitId": "53d54ac915144006c2c9e90d2c7d3880920db49c",
                "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/53d54ac915144006c2c9e90d2c7d3880920db49c"
              },
              "lastMergeTargetCommit": {
                "commitId": "a511f535b1ea495ee0c903badb68fbc83772c882",
                "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/a511f535b1ea495ee0c903badb68fbc83772c882"
              },
              "lastMergeCommit": {
                "commitId": "eef717f69257a6333f221566c1c987dc94cc0d72",
                "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/eef717f69257a6333f221566c1c987dc94cc0d72"
              },
              "reviewers": [
                {
                  "reviewerUrl": null,
                  "vote": 0,
                  "displayName": "[Mobile]\\Mobile Team",
                  "url": "https://fabrikam.vssps.visualstudio.com/_apis/Identities/2ea2d095-48f9-4cd6-9966-62f6f574096c",
                  "id": "2ea2d095-48f9-4cd6-9966-62f6f574096c",
                  "uniqueName": "vstfs:///Classification/TeamProject/f0811a3b-8c8a-4e43-a3bf-9a049b4835bd\\Mobile Team",
                  "imageUrl": "https://fabrikam.visualstudio.com/DefaultCollection/_api/_common/identityImage?id=2ea2d095-48f9-4cd6-9966-62f6f574096c",
                  "isContainer": true
                }
              ],
              "commits": [
                {
                  "commitId": "53d54ac915144006c2c9e90d2c7d3880920db49c",
                  "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/commits/53d54ac915144006c2c9e90d2c7d3880920db49c"
                }
              ],
              "url": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/pullRequests/1",
              "_links": {
                "web": {
                  "href": "https://fabrikam.visualstudio.com/DefaultCollection/_git/Fabrikam/pullrequest/1#view=discussion"
                },
                "statuses": {
                  "href": "https://fabrikam.visualstudio.com/DefaultCollection/_apis/git/repositories/4bc14d40-c903-45e2-872e-0462c7748079/pullRequests/1/statuses"
                }
              }
            },
            "resourceVersion": "1.0",
            "resourceContainers": {
              "collection": {
                "id": "c12d0eb8-e382-443b-9f9c-c52cba5014c2"
              },
              "account": {
                "id": "f844ec47-a9db-4511-8281-8b63f4eaf94e"
              },
              "project": {
                "id": "be9b3917-87e6-42a4-a549-2bc06a7a878f"
              }
            },
            "createdDate": "2023-06-18T05:54:54.5539718Z"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-18T06:42:16.000Z",
  "versionId": "d9f8113f-84a2-4ff8-8098-7c5dc60449f5"
}