workflows/SPRDs7jCbsL7ulHS.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is user message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is user message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-21T07:13:58.791Z",
  "id": "SPRDs7jCbsL7ulHS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Slack bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "28b84545-96aa-42f5-990b-aa8783a320ca",
        "options": {}
      },
      "id": "badab626-9896-4b0f-8f34-9a2c35cfa640",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -340,
        480
      ],
      "webhookId": "28b84545-96aa-42f5-990b-aa8783a320ca",
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channel_id }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "e57bb13f-ae82-40eb-8174-9aa9c05e7265",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1120,
        460
      ],
      "typeVersion": 2.1,
      "webhookId": "ecc9b6ed-5eab-44ef-9526-e3ee4768e269",
      "credentials": {
        "slackApi": {
          "id": "uWwqOgV5qLjTeVF4",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Webhook').item.json.body.channel_id }}"
      },
      "id": "bde7ff00-10dc-4760-b052-f545d7d4be72",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        760,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "109f5992-803b-44b7-9866-d2f2448daf0c",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        300,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.event.bot_id }}",
              "value2": "={{ undefined }}"
            }
          ]
        }
      },
      "id": "9c5a299a-1866-4f89-b0d3-0ddfbfa9056a",
      "name": "Is user message",
      "type": "n8n-nodes-base.if",
      "position": [
        0,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Slack POSTs to Webhook on every message so we need to filter-out bot messages",
        "height": 264.4999999999997,
        "width": 542.581395348837
      },
      "id": "a9d0dacc-4a57-4b04-95ae-214277025b0f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Tools which Agent can use to accomplish the task\n",
        "height": 228,
        "width": 293
      },
      "id": "7045fdad-731c-4465-b653-4d998ec81d46",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Conversation history is stored in memory using channel id as key",
        "height": 233,
        "width": 248
      },
      "id": "477e5049-2c17-4f00-8137-72a4e908ad4f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### The chat LM to process the prompt",
        "height": 233,
        "width": 260
      },
      "id": "431bf632-0d3f-4282-98da-a4c51525aca3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Send agent's output as Slack message\n",
        "height": 223,
        "width": 280
      },
      "id": "bcf3de62-ca38-4428-87cc-52d079aad216",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        480,
        820
      ],
      "id": "f807696c-a1ec-412e-a218-f9bdc8bf87d6",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "F8mVhkugtEQICSk0",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        1000,
        820
      ],
      "id": "3b8b69f1-d24d-49a3-a612-0686ed789abf",
      "name": "Slack1",
      "webhookId": "ff2191a4-1ac7-4620-84a0-6cf674ef71d8",
      "credentials": {
        "slackApi": {
          "id": "uWwqOgV5qLjTeVF4",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        600,
        460
      ],
      "id": "2b2ee3b3-b0c6-4e58-9a63-ea78a879e8b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1140,
        820
      ],
      "id": "87c003f0-ad58-4783-9e08-8c0b9c4156a7",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "szxogdE67lwgcUpQ",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.cupix.com",
            "user-agent": "Slackbot 1.0 (+https://api.slack.com/robots)",
            "content-length": "426",
            "accept": "application/json,*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "98.81.136.138",
            "x-forwarded-host": "n8n.cupix.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e1fea156aeca",
            "x-real-ip": "98.81.136.138",
            "x-slack-request-timestamp": "1737610778",
            "x-slack-signature": "v0=60ea2a10a30211f250bc0cccb4f336dca9c124bae1da843fdd56b27034f3c04a"
          },
          "params": {},
          "query": {},
          "body": {
            "token": "VtlLedbNqYxyq6gF9h6aKF2L",
            "team_id": "T0A84RHMM",
            "team_domain": "cupix",
            "channel_id": "C089BCWCE22",
            "channel_name": "n8n-test",
            "user_id": "U04QB2DJWCT",
            "user_name": "dominik.oh",
            "command": "/n8n",
            "text": "what is the aws bedrock",
            "api_app_id": "A06C07TP19Q",
            "is_enterprise_install": "false",
            "response_url": "https://hooks.slack.com/commands/T0A84RHMM/8330220918822/H0Wv9XGR4ine4aM06Yr3cZOK",
            "trigger_id": "8334004927621.10276867735.2ce1f98bf2c5ad0890cdd40bd4f672c1"
          },
          "webhookUrl": "https://n8n.cupix.com/webhook/28b84545-96aa-42f5-990b-aa8783a320ca",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-23T06:08:44.000Z",
  "versionId": "2fdc810a-5e60-4321-b532-79b28acc7090"
}