workflows/z5PUNHbzEePYNPlp.json
{
  "active": false,
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-21T04:48:32.433Z",
  "id": "z5PUNHbzEePYNPlp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ben test",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C097W6VR0KA",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "37c746ee-c298-4f7a-b853-994edd960ab0",
      "name": "Slack Trigger",
      "webhookId": "bdaaf13c-55bc-4ee8-93dc-ac2db3dd3155",
      "credentials": {
        "slackApi": {
          "id": "pWEME4g2Kp5je76e",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C096YK3E6CF",
          "mode": "id"
        },
        "text": "test",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        0
      ],
      "id": "2017f33c-01dc-48c0-ba17-ef0219d21830",
      "name": "Slack",
      "webhookId": "1992cd31-b629-4145-b90f-2794f1974a5b",
      "credentials": {
        "slackApi": {
          "id": "pWEME4g2Kp5je76e",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pf9FY4BDXEdsuLhgWjmbaVPUQVnUE8o0QS2Zt73jlP0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pf9FY4BDXEdsuLhgWjmbaVPUQVnUE8o0QS2Zt73jlP0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stable_index": "={{ $json.stable_index }}"
          },
          "matchingColumns": [
            "stable_index"
          ],
          "schema": [
            {
              "id": "stable_index",
              "displayName": "stable_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "beta_index",
              "displayName": "beta_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "env",
              "displayName": "env",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bim-Validator",
              "displayName": "Bim-Validator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        260
      ],
      "id": "b5d9ee85-1189-4f10-9976-5c7c6c6b50e9",
      "name": "Google Sheets",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrWikPEoTCGbxf57",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst message = $input.item.json.blocks[0].elements[0].elements[0].text\n\nconst envMatch = message.match(/CupixWorks API (\\w+)\\s*에/);\nconst env = envMatch ? envMatch[1] : \"unknown\";\n\nconst versionBlocks = [];\nconst productRegex = /(\\d+)\\.\\s*(.+?)\\s*- stable: ([\\d.]+)\\s*- beta: ([\\d.]+)/gs;\n\nlet match;\nwhile ((match = productRegex.exec(message)) !== null) {\n  const index = match[1];\n  const product = match[2].trim();\n  const stable = match[3];\n  const beta = match[4];\n\n  let stable_index;\n  let beta_index=0;\n  switch (product) {\n    case \"BIM-Validator\":\n      stable_index = 1;\n      beta_index = stable_index + 1;\n  }\n\n  versionBlocks.push({\n    env,\n    product,\n    stable_version: `${stable}`,\n    beta_version: `${beta}`,\n    stable_index: `${stable_index}`,\n    beta_index: `${beta_index}`\n  });\n\n\n  \n    \n}\n\nreturn versionBlocks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        260
      ],
      "id": "506e3a4f-2025-4e3c-919a-23ee82f23d71",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-21T04:48:32.437Z",
      "updatedAt": "2025-07-21T04:48:32.437Z",
      "role": "workflow:owner",
      "workflowId": "z5PUNHbzEePYNPlp",
      "projectId": "dhnH0RNEhNIDNQeT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-29T07:41:19.000Z",
  "versionId": "6ebfcb9e-d616-431e-9ba8-14d5a8e88c42"
}